<!-- certification.component.html -->
<div class="congratulations-message">
    <p>Congratulations on your outstanding achievement! We are thrilled to inform you that you have successfully navigated through the challenges of the QCM (Questionnaire à Choix Multiples) and emerged victorious with a remarkable score of 90%. Your dedication, hard work, and commitment to mastering Angular Web Development have truly paid off.</p>
    <p>This certificate signifies not just a completion but a demonstration of your profound understanding of the principles and practices of Angular. Throughout the comprehensive training program, you've exhibited exceptional proficiency, showcasing your ability to build dynamic and responsive web applications with Angular.</p>
    <p>We, hereby, acknowledge and celebrate your accomplishments. Your name, Hela Ben Ayed, is now inscribed in the annals of our esteemed certification recipients, and we are confident that you will continue to excel in your journey as a web developer.</p>
    <p>Once again, congratulations on this well-deserved success!</p>
</div>

<div class="certificate-container">
    <div class="certificate-header">
      <h1>Certificate of Completion</h1>
      <p>This is to certify that</p>
      <h2>hela ben ayed</h2>
    </div>
  
    <div class="course-details">
        <p>has successfully completed the comprehensive training program on</p>
        <h3>Angular Web Development</h3>
        <p>This certification acknowledges the dedication and proficiency demonstrated in mastering the principles and practices of Angular.</p>
        <p>By completing this course, the recipient has gained valuable insights into building dynamic and responsive web applications with Angular.</p>
      </div>
      
      <div class="issued-date">
        <p>Issued on: <span class="date">12th December, 2023</span></p>
      </div>
      
      <div class="signature">
        <div class="instructor-signature">
          <img src="assets/img/signature.png" alt="Instructor Signature">
          <p>John Doe</p>
          
        </div>
      
        <div class="seal">
          <img src="assets/img/seal.png" alt="Official Seal">
        </div>
      </div>
     </div> <button class="telecharger-btn" (click)="downloadCertificate()" >Telecharger</button>
  
