<body>
    


    <app-navbar></app-navbar>

    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">About US</h1>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    
   
  
  
  
  
      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
              <img src="assets/img/hero_bg.jpg" alt="Image" class="img-fluid rounded">
            </div>
            <div class="col-lg-4 mr-auto">
              <div class="heading mb-4">
                <span class="caption">About us</span>
                <h2>Our Platforme</h2>
              </div>
              <h1 class="mb-4">Welcome to eLEARNING</h1>
              <p class="mb-4">Welcome to eLEARNING, your gateway to a transformative educational experience. At eLEARNING, we believe in the power of knowledge to shape and enrich lives. Our mission is to provide a dynamic and accessible learning environment where students of all backgrounds can thrive.</p>
             
              <div class="row gy-2 gx-4 mb-4">
                  <div class="col-sm-6">
                      <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
                  </div>
                  <div class="col-sm-6">
                      <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
                  </div>
                  <div class="col-sm-6">
                      <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
                  </div>
                  <div class="col-sm-6">
                      <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Comprehensive Course </p>
                  </div>
                  <div class="col-sm-6">
                      <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Flexible Learning Paths</p>
                  </div>
                  <div class="col-sm-6">
                      <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>User-Friendly Interface</p>
                  </div>
              </div >
            </div>
          </div>
        </div>
      </div>


      <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
              <img src="assets/img/hero_bg.jpg" alt="Image" class="img-fluid rounded">
            </div>
            <div class="col-lg-4 ml-auto">
              <div class="heading mb-4">
                <span class="caption">Why Founded</span>
                <h2>Mission and Vision</h2>
              </div>
              <p>At  E-Learning Platform, our mission is to democratize education by providing a flexible and accessible learning experience for all. We are dedicated to empowering learners worldwide, transcending geographical and socioeconomic boundaries. Through our commitment, we envision a future where  E-Learning Platform becomes a global leader in e-learning. Our vision revolves around creating a hub for dynamic, innovative, and personalized education. We aspire to foster a community of lifelong learners, where education is a transformative force, adapting to the evolving needs of individuals in the digital age. Together, our mission and vision guide us in redefining the landscape of education, making it a catalyst for personal and societal growth on a global scale.</p>
              
            </div>
          </div>
        </div>
      </div>

      <app-footer></app-footer>
</body>
