/* Add this style to your global styles or component styles */
.container {
    margin-top: 20px;
    max-width: 1300px; /* Adjust the maximum width as needed */
    margin-right: 120px; /* Center the container */
    padding: 20px; /* Add padding for better readability */
  }
  
  .framed-container {
    border: 1px solid #ddd; /* Border color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a framed appearance */
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
  }
  
  

h2 {
  color: #3498db;
}

