<app-navprof></app-navprof>
<div class="form">
    <h2>Add New Lesson</h2>
    <form (ngSubmit)="submitForm()">
        <label for="categorySelect">Category:</label>
        <select id="categorySelect" name="category" [(ngModel)]="selectedCategory">
          <option *ngFor="let category of categories" [ngValue]="category">
            {{ category.categoryName }}
          </option>
        </select>
        <div>
          <label for="courseImage">Lesson Image:</label>
          <input type="file" id="courseImage" name="courseImage" (change)="onFileSelected($event)" accept="image/*">
        </div>
      <div>
        <label >Title:</label>
        <input type="text" id="title" [(ngModel)]="courseName" name="title">
      </div>
      <div>
        <label >Description:</label>
        <textarea id="description" [(ngModel)]="courseDescription" name="description"></textarea>
      </div>
      <div>
        <label >Time to complete The Course:</label>
        <input type="number" id="timeToCompleteTheCourse" [(ngModel)]="TimeToCompleteTheCourse" name="TimeToCompleteTheCourse">
      </div>
      <div>
        <label>
          <input type="radio" name="freeOrNot"  (click)="selectedValue='true'" value="true"> Yes
        </label>
        <label>
          <input type="radio" name="freeOrNot" (click)="selectedValue='false'" value="false"> No
        </label>

      </div>
      <div *ngFor="let lesson of listLesson; let i = index" class="lesson-item">
        <div>
          <label for="outline{{ i }}">Outline:</label>
          <input type="text" id="outline{{ i }}" [(ngModel)]="lesson.lessonName" name="outline{{ i }}">
        </div>
        <div>
          <label for="lesson{{ i }}">Lesson:</label>
          <textarea type="text" id="lesson{{ i }}" [(ngModel)]="lesson.lessonContent" name="lesson{{ i }}"></textarea>
        </div>
      </div>

      <button type="button" (click)="addLesson()" class="add-button">Add New Lesson</button>
      <button type="button" *ngIf="listLesson.length > 1" (click)="removeLastLesson()" class="remove-button">Remove Last Lesson</button>
      <button type="submit">Submit Form</button>
    </form>
  </div>

