<body>
    <div class="qcm-container">
      <h2>Questionnaire à Choix Multiples (QCM)</h2>
      <p>Veuillez répondre aux questions suivantes en sélectionnant la bonne réponse parmi les options proposées.</p>
  
      <div class="question" >
        <p>Question 1: Quelle est la capitale de la France?</p>
        <ul class="options">
          <li><label><input type="radio" name="q1" value="a"> Paris</label></li>
          <li><label><input type="radio" name="q1" value="b"> Berlin</label></li>
          <li><label><input type="radio" name="q1" value="c"> Madrid</label></li>
          <li><label><input type="radio" name="q1" value="d"> Rome</label></li>
        </ul>
      
        <p>Question 1: Quelle est la capitale de la France?</p>
        <ul class="options">
          <li><label><input type="radio" name="q1" value="a"> Paris</label></li>
          <li><label><input type="radio" name="q1" value="b"> Berlin</label></li>
          <li><label><input type="radio" name="q1" value="c"> Madrid</label></li>
          <li><label><input type="radio" name="q1" value="d"> Rome</label></li>
        </ul>
      
        <p>Question 1: Quelle est la capitale de la France?</p>
        <ul class="options">
          <li><label><input type="radio" name="q1" value="a"> Paris</label></li>
          <li><label><input type="radio" name="q1" value="b"> Berlin</label></li>
          <li><label><input type="radio" name="q1" value="c"> Madrid</label></li>
          <li><label><input type="radio" name="q1" value="d"> Rome</label></li>
        </ul>
      </div>
  
  
      <!-- Add more questions as needed -->
  
      <button class="submit-btn" (click)="submitAnswers()">Submit</button>
    </div>
  </body>
