<body>



    <app-navbar></app-navbar>



    <!-- Header End -->

    <!--================End Home Banner Area =================-->

    <!--================Course Details Area =================-->
    <section class="course_details_area p-120">
        <div class="container">
            <div class="row course_details_inner">
                <div class="col-lg-8">
                    <div class="c_details_img">
                        <img class="img-fluid" src="assets/img/hero_bg.jpg" alt="">
                    </div>
                    <div class="c-details-list mt-3">
                        <mat-tab-group  color="primary">
                            <mat-tab label="Description" color="blue">
                                <div class="tab-content">
                                    <!-- Description content goes here -->
                                    <p>
                                    {{description}}
                                    </p>
                                </div>
                            </mat-tab>
                            <mat-tab label="Outline">
                                <mat-card class="custom-card">
                                    <mat-card-content>
                                        <p>Intro</p>
                                        <!-- Add more content as needed -->
                                    </mat-card-content>
                                </mat-card>
                                <mat-card class="custom-card">
                                    <mat-card-content>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <!-- Add more content as needed -->
                                    </mat-card-content>
                                </mat-card>
                                <mat-card class="custom-card">
                                    <mat-card-content>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <!-- Add more content as needed -->
                                    </mat-card-content>
                                </mat-card>
                                <mat-card class="custom-card">
                                    <mat-card-content>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <!-- Add more content as needed -->
                                    </mat-card-content>
                                </mat-card>
                                <mat-card class="custom-card">
                                    <mat-card-content>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                        <!-- Add more content as needed -->
                                    </mat-card-content>
                                </mat-card>
                            </mat-tab>

                        </mat-tab-group>
                    </div>
                </div>
                <div class="col-lg-4">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Trainer’s Name
                            <span class="badge bg-primary">{{ instructorName }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Outline
                            <span class="badge bg-success">5</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Duration
                            <span class="badge bg-warning">{{ duration }} hours</span>
                        </li>
                    </ul>
                  <a class="main_btn"  (click)="EnrollIn()">Enroll the Course</a>
                    <p>Rate Now</p>
                    <div class="star-rating">

                        <mat-icon *ngFor="let i of [1, 2, 3, 4, 5]"
                                  (click)="starRating = i"
                                  [class.star-selected]="starRating >= i" >
                          star
                        </mat-icon>
                      </div>








                </div>
            </div>
        </div>
    </section>




<app-footer></app-footer>





</body>
